---
const href = 'https://chat.neoflowoff.agency';
---
<a class="chat-bubble" href={href} aria-label="Conversar com o NΞØ:One">
  <i></i><span>NΞØ:One<small>Iniciar diagnóstico</small></span><b>↗</b>
</a>
